{% extends "base.html" %}

{% block content %}


<div class="max-w-md mx-auto bg-white p-6 rounded shadow-lg">
    <h2 class="text-2xl font-bold mb-4 text-center"> Predict Crop Yield </h2>
    <form method="POST" class="space-y-3">
        <input type="number" step="any" name="rainfall" placeholder="Rainfall (mm)"  class="w-full p-2 border rounded" required>
        <input type="number" step="any" name="temperature" placeholder="Temperature (°C)"  class="w-full p-2 border rounded" required>
        <input type="number" step="any" name="humidity" placeholder="Humidity (%)"  class="w-full p-2 border rounded" required>
        <input type="number" step="any" name="soil_ph" placeholder="Soil pH"  class="w-full p-2 border rounded" required>

        <input type="number" step="any" name="nitrogen" placeholder="Nitrogen"  class="w-full p-2 border rounded" required>
        <input type="number" step="any" name="phosphorus" placeholder="Phosphorus"  class="w-full p-2 border rounded" required>
        <input type="number" step="any" name="potassium" placeholder="Potassium"  class="w-full p-2 border rounded" required>

        <input type="number" step="any" name="sunlight" placeholder="Sunlight Hours"  class="w-full p-2 border rounded" required>
        <input type="number" step="any" name="area" placeholder="Area (Hectares)"  class="w-full p-2 border rounded" required>
        <select name="crop" class="w-full p-2 border rounded" required>
            <option value="">Select Crop</option>
            <option>Maize</option>
            <option>Rice</option>
            <option>Cassava</option>
            <option>Wheat</option>
            <option>Sorghum</option>
        </select>
        <button type="submit" class="w-full bg-green-600 text-white p-2 rounded hover:bg-green-700">
            Predict Yield
        </button>
    </form>

    {% if prediction %}
    <div class="mt-4 p-4 bg-green-100 text-green-800 rounded">
        Predicted Yield: <strong>{{ prediction }} tonnes</strong>
    </div>
    {% endif %}
</div>
{% endblock %}
