{% extends "base.html" %}
{% block content %}
<h2 class="text-2xl font-bold mb-4">Model & System Info....</h2>

<div class="bg-white p-6 rounded shadow space-y-3">
    <p><strong>Model Type:</strong> Random Forest Regressor</p>
    <p><strong>Training Algorithm:</strong> Supervised Machine Learning</p>
    <p><strong>Evaluation Metric:</strong> RMSE & R² Score</p>
    <p><strong>Programming Language:</strong> Python</p>
    <p><strong>Framework:</strong> Flask</p>
    <p><strong>Dataset Source:</strong> Simulated Agricultural Data</p>
</div>
{% endblock %}
